<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
 <link rel="stylesheet" href="/css/style.css">
 
<body>
  <header>
    <h1>Welcome to the Online Learning Platform</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/courses">Courses</a>
      <a href="/instructors">Instructors</a>
      <a href="/events">Events</a>
      <a href="/faq">FAQ</a>
      <a href="/contact">Contact</a>
      <a href="/activity">Activity</a>
    </nav>
  </header>
  <main>
   <section class="intro-banner">
  <div class="intro-card">
    <h2>Your Learning Journey Starts Here!</h2>
    <p>
      <strong>Explore a wide range of courses, connect with expert instructors,
      join live events, and enhance your skills — all in one place<strong>.
    </p>
  </div>
</section>

  </main>
  <footer>
    <p>&copy; 2025 Online Learning Platform</p>
  </footer>
</body>
</html>
